{% extends 'base.html' %}
{% block denglu %}
    <li><a href="/user/logout">退出</a></li>
{% endblock %}

{% block css %}
    <style type="text/css">

        .searchbox {
            position: relative;
            z-index: 1;
            clear: both;
            width: 620px;
            height: 40px;
            margin: 40px auto 50px;
            border: 2px solid #444786;
        }

        .mod_select {
            position: absolute;
            left: 0;
            top: 0;
            width: 98px;
        }

        .mod_select .select_box {
            position: relative;
            width: 98px;
            height: 36px;
        }

        .mod_select .select_box .select_txt {
            display: inline-block;
            width: 98px;
            height: 36px;
            padding-left: 28px;
            overflow: hidden;
            line-height: 36px;
            font-size: 16px;
            cursor: pointer;
        }

        .mod_select .select_box .select-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            width: 10px;
            height: 10px;
            background: url(../../static/img/search_ico.png) center no-repeat;
        }

        .mod_select .select_box .option {
            display: none;
            position: absolute;
            top: 40px;
            left: -2px;
            width: 100px;
            background-color: #fff;
            border: 2px solid limegreen;
            border-top: 0;
        }

        .mod_select .select_box .option li {
            padding-left: 28px;
            font-size: 16px;
            line-height: 2;
            cursor: pointer;
        }

        .searchbox .import {
            width: 426px;
            height: 36px;
            margin-left: 100px;
            padding-left: 20px;
            border: none;
            outline: none;
        }

        .searchbox .btn-search {
            position: absolute;
            right: 0;
            width: 100px;
            height: 100%;
            color: #fff;
            background-color: #444786;
        {#border: 0;#}
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        /** 清除内外边距 **/
        body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
        dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
        pre, /* text formatting elements 文本格式元素 */
        form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
        th, td /* table elements 表格元素 */
        {
            margin: 0;
            padding: 0;
        }

        /** 重置列表元素 **/
        ul, ol {
            list-style: none;
        }

        /** 重置文本格式元素 **/
        a, a:hover {
            text-decoration: none;
        }

        /** 重置表单元素 **/
        legend {
            color: #000;
        }

        /* for ie6 */
        fieldset, img {
            border: 0;
        }

        /* img 搭车：让链接里的 img 无边框 */
        button, input, select, textarea {
            font-size: 100%;
        }

        /* 使得表单元素在 ie 下能继承字体大小 */
        /** 重置表格元素 **/
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .page {
            height: 70px;
            overflow: hidden;
            margin-top: 30px;
        }

        .page-box {
            position: relative;
        }

        .page-box .pagination.page-ul {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .input-pag, .input-submit {
            width: 40px;
            height: 33px;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .input-pag {
            width: 50px;
            padding-left: 15px;
        }

        .user-name, .uname {
            float: left;
        }


    </style>
{% endblock %}

{% block center %}

    {% if query_type  == "班级" %}
        {% if status == 1 %}
            <span style="margin-left: 60px; font-size: 20px">班级：{{ class_name }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">班级人数：{{ students_num }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">学校名称：{{ school_name }}</span>
        {% else %}
            <p style="margin-left: 60px; color: red; font-size: 20px">没有查到你要查询的班级信息</p>
        {% endif %}
    {% endif %}
    {% if  query_type == "学校" %}
        {% if status == 1 %}
            <span style="margin-left: 60px; font-size: 20px">学校：{{ school_name }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">介绍：{{ comment }}</span>
        {% else %}
            <p style="margin-left: 60px; color: red; font-size: 20px">没有查到你要查询的学校信息</p>
        {% endif %}
    {% endif %}
    {% if  query_type == "同学" %}
        {% if status == 1 %}
            <span style="margin-left: 60px; font-size: 20px">姓名：{{ username }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">邮箱：{{ email }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">班级：{{ class_name }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">学校：{{ school_name }}</span><br><br>
            <span style="margin-left: 60px; font-size: 20px">个性签名：{{ sign }}</span>
        {% else %}
            <p style="margin-left: 60px; color: red; font-size: 20px">没有查到你要查询的同学信息</p>
        {% endif %}

    {% endif %}

{% endblock %}

{% block js %}


    <script type="text/javascript">
        $(function () {
            $(".select_box").click(function (event) {
                event.stopPropagation();
                $(this).find(".option").toggle();
                $(this).parent().siblings().find(".option").hide();
            });
            $(document).click(function (event) {
                var eo = $(event.target);
                if ($(".select_box").is(":visible") && eo.attr("class") != "option" && !eo.parent(".option").length)
                    $('.option').hide();
            });
            $(".option li").click(function () {
                var check_value = $(this).text();
                var zlValue = $('.option li:eq(1)').html();
                var bqValue = $('.option li:eq(2)').html();
                $(this).parent().siblings(".select_txt").text(check_value);
                $("#select_value").val(check_value);
                if (check_value == zlValue) {
                    $('#searchPlaceholder').prop('placeholder', '请输入班级名称');
                } else if (check_value == bqValue) {
                    $('#searchPlaceholder').prop('placeholder', '请输入同学名称');
                } else {
                    $('#searchPlaceholder').prop('placeholder', '请输入学校名称');
                }
            });
        })

    </script>
{% endblock %}